<?xml version="1.0"?>
<configuration>
	
	<appSettings>
		<clear/>
		<add key="PodcastUri" value="http://downloads.bbc.co.uk/podcasts/radio4/moreorless/rss.xml"/>
		<add key="WorldServiceTitlePattern" value="^WSMoreOrLess"/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>

	<system.webServer>
		<handlers>
			<add name="HttpHandlers" verb="GET,POST" path="*.xml" type="MoreOrLessPodcastFilter.Ioc.CastleWindsorHttpHandlerFactory" />
		</handlers>
	</system.webServer>

</configuration>
